@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.modal {
  display: flex;
  justify-content: start;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 1050;
  width: 240px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal__aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 240px;
  height: 100%;
  background: #ffffff;
  z-index: 100;
  position: relative;
  -webkit-animation: slide-in-right 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
