.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
}

.message__title {
  margin: 1rem;
  font-size: calc(2rem + 24 * ((100vw - 300px) / (1600 - 300)));
}

.message__text {
  margin: 0;
  font-size: calc(1rem + 14 * ((100vw - 300px) / (1600 - 300)));
  color: #d0c9d6;
}
