.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 300px;
  margin: 0 1rem;
  padding: 3rem;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  background: #ffffff;
}

.form__error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #f44336;
  margin: -1.5em 0 1.5rem;
}

@media screen and (max-width: 480px) {
  .form {
    padding: 2.25rem;
  }
}

@media screen and (max-width: 320px) {
  .form {
    padding: 1.5rem;
  }
}
